In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [ ]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [ ]:
soup = BeautifulSoup(html,"html.parser")

In [ ]:
soup

In [ ]:
soup.h3

In [ ]:
soup.h3.string

In [ ]:
soup.h3.next_sibling.string

In [ ]:
soup.h3.next_sibling.next_sibling.string

In [ ]:
soup.prettify()

In [ ]:
soup.title

In [ ]:
soup.head

In [ ]:
soup.h3.next_sibling.next_sibling.attrs

**find all**

In [ ]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [ ]:
soup1 = BeautifulSoup(table,"html.parser")

In [ ]:
table = soup1.find_all("tr")

In [ ]:
table

In [ ]:
for i,row in enumerate(table):
    print(i,row)

In [ ]:
for i,row in enumerate(table):
    print("row",i)
    cells = row.find_all("td")
    for j,cell in enumerate(cells):
        print("columns",j," ",cell)

In [ ]:
items = soup1.find_all(name = ["tr","td"])
items

In [ ]:
t = soup1.find_all("table")
t

In [ ]:
len(t)

In [ ]:
links = soup1.find_all(href="https://en.wikipedia.org/wiki/Florida")
links

**to find all the links**

In [ ]:
links = soup1.find_all(href=True)
links

In [ ]:
soup1.find_all(id = "Boldest")

In [ ]:
soup1.find_all(string = "Florida")

**web scrapping from html and requests and covert into dataframe through pandas **

In [ ]:
import pandas as pd

In [ ]:
url = "https://en.wikipedia.org/wiki/World_population"

In [ ]:
data = requests.get(url).text
data

In [ ]:
soup = BeautifulSoup(data,"html.parser")

In [ ]:
tables = soup.find_all("table")

In [ ]:
soup.find_all(["tr","td","th","table"])
print(tables[5].prettify())

In [ ]:
data=[]
for row in tables[5].tbody.find_all("tr"):
    col = row.find_all("td")
    rank = col[0].text
    country = col[1].text
    population = col[2].text.strip
    area = col[3].text.strip
    density = col[4].text.strip
    data.append({"Rank":rank,"Country":country,"Population":population,"Area":area})
print(data)

In [ ]:
table_index = 5
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
        print(col)

population_data